body {
    background-color: #eff6ff;
    color: black;
    box-sizing: border-box;
    margin: 0 100px;
    font-size: 22px;
}

p {
    max-width: 700px;

}

img {
    border: 5px solid #575774;
    width: 200px;   
    height: auto;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

li{
    margin: 2px 0;
}

ul, ol {
    margin-top: -12px;
}

h1 {
    width: fit-content;
    margin: 20px auto 15px;
}